<ion-view view-title="Assitance">
  <ion-content padding="true">
  	<div id="container">
    <h3>Assistance</h3>
    <p class="quote text-block">Because <span class="emphasis">your wellbeing</span> is most important to us we added this special function to <span class="emphasis">find local help</span> based on your geolocation. If you are ever feeling really bad don't hesitate to reach out for people who can help you. Please take good care of yourself!</p>
    <button class="button button-block button-positive ion-help-buoy" ng-click="findAssistance(user)">
		Find assistance
	</button> 
	</div>
  </ion-content>
</ion-view>
