<ion-view view-title="Caretaker">
  <ion-content padding="true">
    <div id="container">
		<div id="user-img">
		<img ng-src="img/smiley.png">
		</div>
		<h3>Caretaker Name</h3>
	    <p class="profile-top">verena.vertonghen@gmail.com</p>
	    <p class="profile-small">Laarstraat 65 2070 Zwijndrecht</p>
	    <p class="profile-color">Psycholoog</p>

	    <div class="contact">
		    <div class="item tabs tabs-secondary tabs-icon-left ">
	        <a class="tab-item" href="#/call"> 
	          <i class="icon color-icon ion-ios-telephone"></i>
	          Call 
	        </a>
	        <a class="tab-item" href="#/mail">
	          <i class="icon color-icon ion-email"></i>
	          Mail 
	        </a>
	      	</div>
      	</div>
      	<br>
	    <p><a id="edit-link" href="#/edit" class="button icon-left ion-person-add button-positive">Add a caretaker</a></p>
	</div>
  </ion-content>
</ion-view>
