<ion-view title="Login" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content has-header="true" padding="false">
    <div id="border-div" class="not-rounded">
    <div id="login-img"><img src="img/logo/logo.svg"></div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username:</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password:</span>
        <input type="{{inputType}}" ng-model="user.password"/>
      </label>
      <div id="password-toggle">
        <li class="item item-checkbox">
          <label class="checkbox" >
            <input type="checkbox" ng-click="hideShowPassword()"/>
            
          </label>
          Show password
        </li>
      </div>
    </div>
    <div class="button-padding">
      <button class="button button-block button-dark ion-log-in" ng-click="login(user)">
        Login
      </button> 
      <button class="button button-block button-dark ion-arrow-right-c" ng-click="toRegister()">
        Go to signup
      </button>
    </div>
    <div ng-show="loginError" class="flash-alert">
        Login failed, did you forget your password?
    </div>
    </div>
  </ion-content>
</ion-view>