<ion-view view-title="Step 1">
  <ion-content padding="true">
  	<div id="container">
	    <h3>What type of notification?</h3>
	    <br>
	    <!-- <button class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep('advice')">
			Advice
		</button> 
		<button class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep('quote')">
			Quote
		</button> 
		<button class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep('question')">
			Question
		</button>
		<button class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep('reminder')">
			Reminder
		</button> 
		<button class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep('story')">
			Story
		</button>  --> 
		<div id="border-div">
		<div class="align-left">
			<ion-radio ng-model="notification.type" value="advice">advice</ion-radio>
			<ion-radio ng-model="notification.type" value="quote">quote</ion-radio>
			<ion-radio ng-model="notification.type" value="question">question</ion-radio>
			<ion-radio ng-model="notification.type" value="reminder">reminder</ion-radio>
		</div>
		<button ng-disabled="!notification.type" class="button button-block button-positive ion-arrow-right-c" ng-click="nextStep()">
			Next step
		</button> 
		</div>
    </div>
  </ion-content>
</ion-view>