<ion-view view-title="Notification">
  <ion-content>
  	<div id="container">
	  	<div id="user-img">
			<img ng-src="img/expressions/{{notification.category.name}}.png">
		</div>
		<h3>{{state.category.name}}</h3>
	    <h4>{{notification.title}}</h4>
	    <p class="textbox">{{notification.text}}</p>
	    <div class="button-padding">
		    <button class="button button-block button-assertive ion-trash-a" ng-click="removeNotification()">
				Remove
			</button>
		</div>
    </div>
  </ion-content>
</ion-view>
