<ion-view view-title="Profile">
  <ion-content padding="true">
    <div id="container">
    	<div class="center">

	    	<div id="user-img" ng-show="allStates.length==0">
		      	<img src="img/expressions/default.svg">
		    </div>
			<div id="user-img" ng-show="!allStates.length==0" ng-repeat="state in allStates | orderBy:'-created_at' | limitTo:1">
				<h3 class="welcome">Welcome back <span class="cap">{{singleUser.firstname}}</span>!</h3>
				<p class="quote">The last time you time you expressed your feelings you were feeling {{state.category.name}}, are you still feeling the same?</p>
				<img ng-src="img/expressions/{{state.category.name}}.svg">
			</div>
			<h4 class="cap">{{singleUser.firstname}} {{singleUser.lastname}}</h4>
		    <p class="quote">{{singleUser.email}}</p>
	    </div>
    <div ng-show="!showadmin">
    <button class="button button-block button-positive ion-ios-heart" ng-click="expressFeelings()">
		Express your feelings
	</button> 
	</div>
     <button class="button button-block button-assertive icon ion-log-out" ng-click="logout()">
		Logout
	</button>
	</div>
  </ion-content>
</ion-view>