<ion-view view-title="Profile">
  <ion-content padding="true">
    <div id="container">
    	<div class="center">
    		<div>
	    		<div id="user-img">
			      	<img src="img/expressions/default.png">
			    </div>
		    </div>
    		<!-- <div ng-show="showadmin">
	    		<div id="user-img">
			      	<img src="img/expressions/default.png">
			    </div>
		    </div>

		    <div ng-show="!showadmin">
		    	<div id="user-img" ng-show="allStates.length==0">
			      	<img src="img/expressions/default.png">
			    </div>
				<div id="user-img" ng-show="!allStates.length==0" ng-repeat="state in allStates | orderBy:'-created_at' | limitTo:1">
					<img ng-src="img/expressions/{{state.category.name}}.png">
				</div>
			</div> -->

			<h3 class="cap">{{singleUser.firstname}} {{singleUser.lastname}}</h3>
		    <p>{{singleUser.email}}</p>
	    </div>
    <!-- <p><a id="edit-link" href="#/edit" class="button icon-left ion-edit button-dark">Edit</a></p> -->
    <div ng-show="!showadmin">
    <button class="button button-block button-positive ion-ios-heart" ng-click="expressFeelings()">
		Express your feelings
	</button> 
	</div>
     <button class="button button-block button-assertive icon ion-log-out" ng-click="logout()">
		Logout
	</button>
	</div>
  </ion-content>
</ion-view>