<ion-view view-title="Result" hide-back-button="true">
<ion-nav-buttons side="left">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
  </button>
</ion-nav-buttons>

  <ion-content padding="true"  has-header="true">
  	<div id="container">
  		<div id="user-img">
			<img ng-src="img/expressions/{{state.category.name}}.png">
		</div>
		<h3>So you are feeling {{state.category.name}}?</h3>
	    <h4>{{notification.title}}</h4>
	    <p class="textbox">{{notification.text}}</p>
    </div>
  </ion-content>
</ion-view>