/* LAYOUT
----------------------------------------*/

#big-avatar{

	.item-avatar{
		min-height: 100px;
		img{
			max-height:60px;
			max-width: 60px;
		} 
	}
}

#color-background{
	background:$green-sea;
}

#container{
	width:100%;
	text-align:center;

	// h3{
	// 	text-align: center;
	// }
	p{
		margin-left:auto;
		margin-right:auto;
		display: block;
		width: 100%;

		@media (min-width: $tablet-landscape){
			width:40em;
		}
	}
}

.align-left{
	text-align:left;
}

.text-block{
	text-align:left;
	padding:0.4em;
}

h1{
	text-align:center;
}

.center-div{
	margin-left:auto;
	margin-right: auto;
	display:block;
}

.center{
	text-align:center;
}

#all-categories{
	text-align: left;
}

.cat-div{
	//float:left;
	//padding:0.3em;
	text-align:center;
}

.cat-img{

	img{
		//float:left;
	//margin-right:0.5em;
	//padding: 1em;
	width:8em;
	}
	
}

#text{
	background-color: $stable;
    width: 100%;
    height: 20em;
	padding:2em;
	margin: auto;
}

#notification-text{
	background-color: $stable;
    width: 100%;
    height: 10em;
	padding:2em;
	margin: auto;
}

#talk{
	.item{
		border:none;
	}

	.item-avatar{
	}
}

.flash-alert{
	background:$stable;
	color:$concrete;
	font-family:$light-font;
	font-size:$font-size-small !important;
	padding:1em 1em;
	border-radius: $border-radius-base;
}



.profile-top{
	margin-bottom: 0;
}

.profile-small{
	font-size:12px;
	color:$concrete;
	margin-bottom: 0;
}

.profile-color{
	font-size:12px;
	color:$positive;
}

.contact{
	.item{
		border:none;
	}
}



#user-img{
	text-align:center;
	
	img{
	    max-width: 10em;
	    max-height: 10em;
	    width: 100%;
	    height: 100%;
	    border-radius: $item-avatar-border-radius;
		margin-top: 2em;
		
		@media (min-width: $tablet-portrait){
			max-width: 15em;
	    	max-height: 15em;
		}
	}
}

#password-toggle{
	margin-top:1em;
	text-align:center;

	.item{
		border:none;
		width: 16em;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.item-checkbox{
		padding-left: 0;
		padding-right: 0;
	}
}

#menu-content{
	background: $dark;
	color: $white;

	.item-content{
		background: $dark;
		color: $white;
	}
}

#register-img{
	text-align:center;

	img{
		width: 14em;
		margin: 1em 0em;
		//@include my-pad();

		@media (min-width: $tablet-portrait){
			width: 25em;
			margin: 3em 0em;
		}
	}
}

.button-padding{
	padding-left:0.5em;
	padding-right:0.5em;
}

#login-img{
	text-align:center;

	img{
		width: 20em;
		margin: 3em 0em;
		//@include my-pad();

		@media (min-width: $tablet-portrait){
			width: 25em;
			margin: 3em 0em;
		}
	}
}

#edit-link{
	font-size:inherit;
}

#user-img{
	text-align:center;
	
	img{
	    max-width: 10em;
	    max-height: 10em;
	    width: 100%;
	    height: 100%;
	    border-radius: $item-avatar-border-radius;
		margin-top: 2em;
		
		@media (min-width: $tablet-portrait){
			max-width: 15em;
	    	max-height: 15em;
		}
	}
}