/* MIXINS
----------------------------------------*/

@mixin rounded($pixels){
	$radius: $pixels;
	 -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin my-pad(){
	padding: 0.4em;
}

@mixin my-shadow($color){
  box-shadow: 0 3px darken($color,10);
}

@mixin my-flash($background,$text){
	background:$background;
	//color:$text;
	font-family:$light-font;
	padding: 20px 40px;
	margin: 1em 0.5em;
}