.cap{
	text-transform: capitalize;
}

.input-label{
	padding: 4px 0px 4px 0px!important;
	max-width: 50% !important;
	text-align:left;
}

.quote{
	color:$asbestos;
	font-family:$light-font;
	font-size:$font-size-small !important;
}

.textbox{
	color:$asbestos;
	font-family:$light-font;
	font-size:$font-size-small !important;
	text-align:left;
	padding:2em;
}

.emphasis{
	color:$positive;
	font-family:$regular-font;
}

.help-block{
	color:$assertive;
	font-size:$font-size-small;
	padding: 6px 0px 0px 16px;
}

#notification-text{
	background-color: $stable;
    width: 100%;
    height: 10em;
	padding:1em;
	margin: auto;
}

.success-block{
	color:$positive;
	font-family:$light-font;
	font-size:$font-size-small;
	padding: 6px 0px 0px 16px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	font-family:$light-font;
}

/* FIX */
.item{
	background:none !important;
	//border-radius: $button-border-radius;
}

.rounded{
	border-radius: $button-border-radius;
}

.item-select select{
	color:$select-color;
	//font-size:$font-size-small;
	padding: 6px 30px;
	//padding:0px;
}

#border-input{
		input[type="text"]{
		border-color:$start-border !important;
		border-bottom: 1px $start-border solid !important;
		}
	}

#border-div{
	
	
	.item{
		border-color:$start-border !important;
	}
	.checkbox input:before, .checkbox .checkbox-icon:before{
		border-color:$start-border !important;
	}
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}